<hr />

<h3>About</h3>

<a href="/evbogue-badass.jpg"><img src="/evbogue-badass.jpg" class="profile" style="width: 25%; float: left; margin-right: 1em;" /></a>

<p>Ev Bogue is the author of <a href="//n.evbogue.com">Node.js - Code JavaScript</a>.</p>

<p>Email: <a href="mailto:ev@evbogue.com">ev@evbogue.com</a>.</p>

p Built with <a href="//metalwork.evbogue.com">Metalwork</a>.
