<hr />

<h3>The Author</h3>

<a href="//static.evbogue.com/evbogue-badass.jpg"><img src="//static.evbogue.com/evbogue-badass.jpg" class="profile" style="width: 25%; float: left; margin-right: 1em;" /></a>

<p>Hi, I'm Ev Bogue. I'm a technical writer living in Mexico.</p>

<p>Email: <a href="mailto:ev@evbogue.com">ev@evbogue.com</a>.</p>

<p>Site stack: Node.js + Debian + <a href="https://www.digitalocean.com/?refcode=26d8ed49730d">Digital Ocean</a> (rewards link).</p>
