head
  title Metalwork | #{title}
  meta(name='viewport' content='width=device-width initial-scale=1')
  link(rel='stylesheet' href='/static/framework.css')
  link(rel='stylesheet' href='/static/style.css')
  link(rel="stylesheet" href='/static/zenburn.css')
  script(src='/static/highlight.min.js')
  script hljs.initHighlightingOnLoad();
