doctype html
html
  include header.jade
  body
    .contain
      .twelve.col
        h1 <a href="/">METAL<span style="color: #999;">WORK</span></a>
        hr
      .eight.col
        each blog in collections.blog
          h3= blog.title
          p(style='color: #666;')= moment(blog.date).format('MMMM Do YYYY')
          div!= blog.contents
          hr
      .four.col
        h3 Blog
        ul
          each blog in collections.blog
            li 
              a(href="/" + blog.path + "/")= blog.title
      .twelve.col
        include footer.jade
